.brand-text{
    padding: 20px;
}

.quantity-text{
    margin-top: 20px;
}

.total{
    padding-right: 20px;
}

.content-cart{
    margin-bottom: 20px;
    border-bottom: 1px lightgrey solid;
}

.content-cart:hover{
    cursor: pointer;
}

.navbar-aling{
    margin-left: auto;
}