.product-description {
    margin-top: 50px;
}

.name-product {
    padding: 20px;
}

.button-add-card {
    width: 100%;
    margin-top: 50px;
    border: none;
}

.arrows {

    border-radius: 20px;
}

.arrows span {
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    border-radius: 20px;
}

.select-img-carousel {
    display: flex;
    margin-top: 20px;
}


.img-suggestions {
    max-height: 200px;
    min-height: 200px;
    padding-bottom: 10px;

}

.suggestions {
    margin-top: 100px;
}

.container-card-suggestions {
    padding: 20px;
    margin: 10px;
    max-height: 400px;
    min-height: 430px;
}

.price {
    margin-top: 10%;
}


.button-car {
    width: 45px;
    height: 45px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    border-radius: 50%;
    border: none;
}

.title-product-suggestion {
    border-top: 1px grey solid;
    padding-top: 30px;
}

.image-carousel {
    max-height: 300px;
    min-height: 300px;
}

.image-carousel img {
    max-height: 300px;
}

.select-img-carousel {
    padding: 20px;

}

.select-img-carousel button {
    margin: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: none;
}

.select-img-carousel button img {
    max-height: 400px;

}

.count-products button {
    width: 30px;
    height: 30px;
    border: none;
    border: 1px lightgray solid;
    background-color: white;

}

.count-products h3 {
    border: 1px lightgray solid;
    height: 30px; 
}