.product-description{
    margin-top: 50px;
}

.name-product{
    padding: 20px;
}

.button-add-card{
    width: 100%;
    margin-top: 50px;
    border: none;
}

.arrows{

    border-radius: 20px;
}

.arrows span{
    width: 30px;
    height: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    border-radius: 20px;
}

.select-img-carousel{
    display: flex;
    margin-top: 20px;
}